div {
    border: dashed;
}

#sidebar {
    width: 30%;
    min-height: 100%;
    float: left;
}

#sidebar-top {
    width: inherit;
    min-height: 30%;
}

#sidebar-bottom {
    width: inherit;
    min-height: 70%;
}