div {
    border: solid;
    border-color: #BA2A11;
}

body {
    background-color: #FA3817;
}

.back-element {

    border-color: black;
    border: 7pt;


    background-color: #768d87
transition-duration: 1s;
}

#sidebar {
    width: 30%;
    min-height: 100%;
    float: left;
}

#sidebar-top {
    width: inherit;
    min-height: 30%;
}

#sidebar-bottom {
    width: inherit;
    min-height: 70%;
}