body {
    background-color: #F0C171;

}

div {
    color: #91b8b3;
    border: solid;
}

.header {
    font: 15px arial;
    text-align: center;

    position: fixed;
    top: 40px;
    left: 25px;

    width: 95%;

    border-color: #91b8b3;




}

.img {
    position: fixed;
    top: 160px;
    left: 35%;

    border:7px solid #91b8b3;
}

.login-element {

    border-color: #91b8b3;
    border: 7pt;

    float: right;

    background-color: #91b8b3;
    transition-duration: 1s;
}