div {
    border: dashed;
}

.header {
    text-align: center;
}

.login-box {
    /* width: 200px; */
    padding-left: 10%;
    padding-top: 10%;
}

.login-element {
    width: 200px;
    padding-left: 10%;
    padding-top: 10%;
}