body {
    background-color: #F0C171;
}

.myButton {
    float:left;
    -moz-box-shadow:inset 0px 1px 4px 0px #91b8b3;
    -webkit-box-shadow:inset 0px 1px 4px 0px #91b8b3;
    box-shadow:inset 0px 1px 4px 0px #91b8b3;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
    background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
    background-color:#768d87;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #566963;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:5px 10px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
}
.myButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
    background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
    background-color:#6c7c7c;
}
.myButton:active {
    position:relative;
    top:1px;
}
.scrollable-list {
    overflow-y: auto;
}

#available-beers {
    max-height: 90vh;
    right: 5px;
}

#beers-to-buy {
    float: none;
    min-height: 60vh;
    max-height: 70vh;
}

.myBeerButton {
    width: 100%;
    -moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
    -webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
    box-shadow:inset 0px 1px 3px 0px #91b8b3;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
    background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
    background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:1px solid #566963;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:11px 23px;
    text-decoration:none;
    text-shadow:0px -1px 0px #2b665e;
}

.myBeerButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
    background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
    background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
    background-color:#6c7c7c;
}

.myBeerButton:active {
    position:relative;
    top:1px;

}

#trash-beer {
    float: none;
}

#undoredo{
    float:left;
}

.expander {
    position: absolute;
    border: 2px darkgrey solid;
    border-radius: 0px 20px 20px 20px;
    z-index: 2;
}


/*div {
    border: solid;
    border-color: #768d87;
}*/


.back-element {
    border-color: black;
    border: 7pt;
    background-color: #768d87;
    transition-duration: 1s;
}

#main-body {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

#sidebar {
    width: 30%;
    float: left;
}

#sidebar-top {
    position: absolute;
    top: 0;
    width: 30%;
    height: 25%;
    float: left;
}

#sidebar-bottom {
    position: absolute;
    top: 25%;
    width: 30%;
    min-height: 75%;
    float: left;
}

#main {
    position: absolute;
    top: 0;
    left: 30%;
}

#translator {
    float:right;
    z-index: 1; position:relative
}

#img {
    position: absolute;
    height: 304px;
    width: 400px;
    margin: -100px 0 0 -200px;
    top: 50%;
    left: 50%;
}

h1 {
    text-align: center;
}

#Welcome {
    text-align: center;
}

.shopping div {
    border: solid;
    border-color: #BA2A11;
}

.header div{
    position: relative;
    text-align: center;
    margin: 100px 0 0 0;
    color: #000;
    font-family: 'Exo', sans-serif;
    font-size: 55px;
    font-weight: 200;
}

.header div span{
    color: #fff !important;
}